footer{
    margin-top: 15px;
}

.foot1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    cursor: pointer;
}
.foot1:hover{
    background-color: #394d66;
}
.foot2{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #1e2733;
}
.foot-list{
    margin: 10px 0;
}
.foot-list li{
    margin: 15px 0;
    list-style-type: none;
}
.foot-list li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.foot-list li a:hover{
    text-decoration: underline;
}
.title{
    font-weight: bold;
}
.foot3{
    margin-top: 1px;
    background-color: #1e2733;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot3-content{
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 55px;
}
.foot3-logo{
    margin: 0 40px;
}
.foot3-items{
    display: flex;
}
.foot3-item{
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 3px;
    padding: 7px 15px;
    margin: 2px 9px;
    cursor: pointer;
}
.foot3-item i{
    color: white;
    margin: 4px;
}
.foot3-item p{
    color: white;                                                                                                                    
}
.foot4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #131920;
    padding: 20px 70px;
    
}
.foot4 ul{
    margin: 20px 10px;
}
.foot4 ul li{
    list-style-type: none;
    color: white;
    font-size: 10px;
    cursor: pointer;
}
.foot4 ul li:hover{
    text-decoration: underline;
}