.nav2 {
    display: flex;
    height: 40px;
    align-items: center;
    background-color: #046359;
}

.nav2-icon {
    height: 30px;
    padding: 0 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.nav2-icon p {
    margin: 0 4px;
    color: white;
}

.nav2-links {
    display: flex;
}

.nav2-links a {
    width: fit-content;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
}