
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&family=Shantell+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.border:hover {
    border: 1.5px solid white;
    border-radius: 6px;
    cursor: pointer;
}

.style1 {
    font-size: 12px;
    width: fit-content;
    margin: 0 auto;
}

.style2 {
    font-size: 13px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto;
}
